<!DOCTYPE html>
<html>
{% load static %}
{% load js %}
<body>
    <p> <b>It's gonna rain</b> </p>
{% with tracks|first as defaulttrack %}
Track:
<!-- TODO: add method to ensure recommended values change on selTrack onchange -->
<select id="selTrack" selected="{{ defaulttrack.pk }}" onchange='selectChange()'>
{% for track in tracks %}
    <option value="{{track.pk}}">{{ track.name }}</option>
{% endfor %}
    <option value="upload">Upload...</option>
</select>
<a id='txtFile'></a>
<br>
<input type='file' id='fileOpt' style="display:none" onchange='fileChosen()'>
Start Time (s):<input type="text" id="txtStart" value="{{defaulttrack.recommended_start_time}}"><br>
End Time (s):<input type="text" id="txtEnd" value="{{defaulttrack.recommended_end_time}}"><br>
Ratio (s):<input type="text" id="txtRatio" value="{{defaulttrack.recommended_ratio}}"><br>
{% endwith %}
<button id='btnLoad' type="button" onclick='getMusic()'>Load</button>
<p id=pTrack><br></p>
<p id=pPlaybackTime>0:00/0:00</p>
<button id='btnPlay' type="button" disabled onclick='startMusic()'>Play</button>
<button id='btnStop' type="button" disabled onclick='stopMusic()'>Stop</button>

</body>
<script type="text/javascript">
    var trackJSON = {{ tracks | js_queryset }};
</script>
<script src="https://cdn.rawgit.com/mohayonao/web-audio-api-shim/master/build/web-audio-api-shim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js"></script>
<script src="{% static 'itsgonnarain/itsgonnarain.js' %}" track="{% static 'itsgonnarain/gandalf.wav' %}"></script>
</html>
